---
---

@import "minimal-mistakes";

// Theme overrides & additions
.btn {
  $buttoncolors:
  (mail, #c71610),
  (github, #000),
  (reddit, #ff5500),
  (instagram, #ec0075);
  @each $buttoncolor, $color in $buttoncolors {
    &--#{$buttoncolor} {
      @include yiq-contrasted($color);
      @if ($buttoncolor == inverse) {
        border: 1px solid $border-color;
      }
      @if ($buttoncolor == light-outline) {
        border: 1px solid #fff;
      }

      &:visited {
        @include yiq-contrasted($color);
      }

      &:hover {
        @include yiq-contrasted(mix(#000, $color, 20%));
      }
      @if ($buttoncolor == github) {
        &:hover {
          @include yiq-contrasted(mix(#fff, $color, 20%));
        }
      }
    }
  }
}

.sidebar {
  opacity: 1;
  // @include clearfix();

  // intended setup when the screen width is less than $large
  @include breakpoint(max-width $large) {
    max-width: 100%;

    &.sticky {
      height: 100%;
      max-height: calc(100vh - #{$nav-height} - 2em);
    }
  }
}

.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 540px;
  height: 405px;

  @include breakpoint(max-width $medium) {
    padding: 0px;
    border: 0px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 60px;
    flex-shrink: 0;
    height: auto;
  }

  @include breakpoint($medium) {
    padding: 0px;
    border: 0px solid $border-color;
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 300px;
    border-radius: 0%;

    @include breakpoint(max-width $large) {
      max-width: 120px;
    }
  }
}

.h-card {
  @include breakpoint(max-width $large) {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    align-items: flex-start;
    height: 100%;
  }
}

.author__content {
  @include breakpoint(max-width $large) {
    flex: 1;
    min-width: 150px;
    overflow: hidden;
  }
}